<a href="https://colab.research.google.com/github/mr-alamdari/NLP-Semantiment-Analysis/blob/main/NLP_Semantiment_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [24]:
import spacy
import numpy as np
import pandas as pd

In [11]:
!python -m spacy download en_core_web_lg
import en_core_web_lg
nlp = en_core_web_lg.load()

In [14]:
nlp(u'Hello').vector

array([ 0.25233  ,  0.10176  , -0.67485  ,  0.21117  ,  0.43492  ,
        0.16542  ,  0.48261  , -0.81222  ,  0.041321 ,  0.78502  ,
       -0.077857 , -0.66324  ,  0.1464   , -0.29289  , -0.25488  ,
        0.019293 , -0.20265  ,  0.98232  ,  0.028312 , -0.081276 ,
       -0.1214   ,  0.13126  , -0.17648  ,  0.13556  , -0.16361  ,
       -0.22574  ,  0.055006 , -0.20308  ,  0.20718  ,  0.095785 ,
        0.22481  ,  0.21537  , -0.32982  , -0.12241  , -0.40031  ,
       -0.079381 , -0.19958  , -0.015083 , -0.079139 , -0.18132  ,
        0.20681  , -0.36196  , -0.30744  , -0.24422  , -0.23113  ,
        0.09798  ,  0.1463   , -0.062738 ,  0.42934  , -0.078038 ,
       -0.19627  ,  0.65093  , -0.22807  , -0.30308  , -0.12483  ,
       -0.17568  , -0.14651  ,  0.15361  , -0.29518  ,  0.15099  ,
       -0.51726  , -0.033564 , -0.23109  , -0.7833   ,  0.018029 ,
       -0.15719  ,  0.02293  ,  0.49639  ,  0.029225 ,  0.05669  ,
        0.14616  , -0.19195  ,  0.16244  ,  0.23898  ,  0.36431  ,
        0.45263  ,  0.2456   ,  0.23803  ,  0.31399  ,  0.3487   ,
       -0.035791 ,  0.56108  , -0.25345  ,  0.051964 , -0.10618  ,
       -0.30962  ,  1.0585   , -0.42025  ,  0.18216  , -0.11256  ,
        0.40576  ,  0.11784  , -0.19705  , -0.075292 ,  0.080723 ,
       -0.02782  , -0.15617  , -0.44681  , -0.15165  ,  0.1692   ,
        0.098255 , -0.031894 ,  0.087143 ,  0.26082  ,  0.002706 ,
        0.1319   ,  0.34439  , -0.37894  , -0.4114   ,  0.081571 ,
       -0.11674  , -0.43711  ,  0.011144 ,  0.099353 ,  0.26612  ,
        0.40025  ,  0.18895  , -0.18438  , -0.30355  , -0.2725   ,
        0.22468  , -0.40614  ,  0.15618  , -0.16043  ,  0.47147  ,
        0.0080203,  0.56858  ,  0.21934  , -0.11181  ,  0.79925  ,
        0.10714  , -0.50146  ,  0.063593 ,  0.069465 ,  0.15292  ,
       -0.2747   , -0.20989  ,  0.20737  , -0.10681  ,  0.40651  ,
       -2.6438   , -0.31139  , -0.32157  , -0.26458  , -0.35625  ,
        0.070013 , -0.18838  ,  0.48773  , -0.26167  , -0.020805 ,
        0.17819  ,  0.15758  , -0.13752  ,  0.056464 ,  0.30766  ,
       -0.066136 ,  0.4748   , -0.27335  ,  0.09732  , -0.20832  ,
        0.0039332,  0.346    , -0.08702  , -0.54924  , -0.18759  ,
       -0.17174  ,  0.060324 , -0.13521  ,  0.10419  ,  0.30165  ,
        0.05798  ,  0.21872  , -0.073594 , -0.20423  , -0.25279  ,
       -0.10471  , -0.32163  ,  0.12525  , -0.31281  ,  0.0097207,
       -0.26777  , -0.61121  , -0.11089  , -0.13652  ,  0.035135 ,
       -0.4939   ,  0.084857 , -0.15494  , -0.063509 , -0.23935  ,
        0.28272  ,  0.10849  , -0.3365   , -0.60764  ,  0.38576  ,
       -0.0095438,  0.17499  , -0.52723  ,  0.62211  ,  0.19544  ,
       -0.48977  ,  0.036582 , -0.128    , -0.016827 ,  0.25647  ,
       -0.31698  ,  0.48257  , -0.14184  ,  0.11046  , -0.3098   ,
       -0.63141  , -0.37268  ,  0.23183  , -0.14268  , -0.02341  ,
        0.022255 , -0.044662 , -0.16404  , -0.25848  ,  0.1629   ,
        0.024751 ,  0.23348  ,  0.27933  ,  0.38998  , -0.058968 ,
        0.11355  ,  0.15673  ,  0.18583  , -0.19814  , -0.48123  ,
       -0.035084 ,  0.078458 , -0.49833  ,  0.10855  , -0.20133  ,
        0.05292  , -0.11583  , -0.16009  ,  0.16768  ,  0.42362  ,
       -0.23106  ,  0.082465 ,  0.24296  , -0.16786  ,  0.0080409,
        0.085947 ,  0.38033  ,  0.072981 ,  0.1633   ,  0.24704  ,
       -0.11094  ,  0.15115  , -0.22068  , -0.061944 , -0.037091 ,
       -0.087923 , -0.23181  ,  0.15035  , -0.19093  , -0.19113  ,
       -0.11894  ,  0.094908 , -0.0043347,  0.15362  , -0.41201  ,
       -0.3073   ,  0.18375  ,  0.40206  , -0.0034793, -0.10917  ,
       -0.69522  ,  0.10161  , -0.079256 ,  0.40329  ,  0.22285  ,
       -0.19374  , -0.13315  ,  0.073231 ,  0.099832 ,  0.11685  ,
       -0.21643  , -0.1108   ,  0.10341  ,  0.097286 ,  0.11196  ,
       -0.3894   , -0.0089363,  0.28809  , -0.10792  ,  0.028811 ,
        0.32545  ,  0.26052  , -0.038941 ,  0.075204 ,  0.46031  ,
       -0.06293  ,  0.21661  ,  0.17869  , -0.51917  ,  0.33591  ],
      dtype=float32)

In [15]:
nlp(u'Hello').vector.shape

(300,)

In [18]:
nlp(u'Hello my friends, how are you doing?').vector.shape

(300,)

In [25]:
text = 'cat dog pet'
tokens = nlp(text)

In [22]:
mat = np.zeros((len(tokens), len(tokens)))
for i, token in enumerate(tokens):
  for j, t in enumerate(tokens):
    mat[i, j] = token.similarity(t)

In [26]:
pd.DataFrame(mat, index=text.split(), columns=text.split())

          cat       dog       pet
cat  1.000000  0.801685  0.750546
dog  0.801685  1.000000  0.805745
pet  0.750546  0.805745  1.000000

In [73]:
def show_similarity(text):
  tokens = nlp(text)
  l = len(tokens)
  mat = np.zeros((l, l+1))
  words_list = text.split()

  for i, token in enumerate(tokens):
    for j, t in enumerate(tokens):
      mat[i, j] = token.similarity(t)
    mat[i, j+1] = token.is_oov
  return pd.DataFrame(mat, index=words_list, columns=words_list+['Out of Vocabulary'])

In [74]:
show_similarity(text)

          cat       dog       pet  Out of Vocabulary
cat  1.000000  0.801685  0.750546                0.0
dog  0.801685  1.000000  0.805745                0.0
pet  0.750546  0.805745  1.000000                0.0

In [75]:
show_similarity('Hello ESI cat where is your owner are you lost')

,Hello,ESI,cat,where,is,your,owner,are,you,lost,Out of Vocabulary
Hello,1.000000,0.036048,0.384001,0.287855,0.183826,0.273613,0.181252,0.167476,0.411057,0.220646,0.0
ESI,0.036048,1.000000,0.024285,-0.148939,-0.152116,-0.138807,-0.083097,-0.190228,-0.181187,-0.051483,0.0
cat,0.384001,0.024285,1.000000,0.305819,0.282202,0.287218,0.327468,0.204125,0.308080,0.279148,0.0
where,0.287855,-0.148939,0.305819,1.000000,0.599389,0.419725,0.394735,0.521610,0.639354,0.467560,0.0
is,0.183826,-0.152116,0.282202,0.599389,1.000000,0.411793,0.393141,0.522805,0.533453,0.340251,0.0
your,0.273613,-0.138807,0.287218,0.419725,0.411793,1.000000,0.324524,0.370905,0.780124,0.323926,0.0
owner,0.181252,-0.083097,0.327468,0.394735,0.393141,0.324524,1.000000,0.224684,0.364087,0.332178,0.0
are,0.167476,-0.190228,0.204125,0.521610,0.522805,0.370905,0.224684,1.000000,0.563189,0.319569,0.0
you,0.411057,-0.181187,0.308080,0.639354,0.533453,0.780124,0.364087,0.563189,1.000000,0.381077,0.0
lost,0.220646,-0.051483,0.279148,0.467560,0.340251,0.323926,0.332178,0.319569,0.381077,1.000000,0.0

In [76]:
show_similarity('Love like hate')

          Love      like      hate  Out of Vocabulary
Love  1.000000  0.657904  0.639310                0.0
like  0.657904  1.000000  0.657465                0.0
hate  0.639310  0.657465  1.000000                0.0

In [77]:
nlp.vocab.vectors.shape

(684831, 300)

In [79]:
show_similarity('mresi has a cat')

/usr/lib/python3.7/runpy.py:193: UserWarning: [W008] Evaluating Token.similarity based on empty vectors.
  "__main__", mod_spec)
/usr/lib/python3.7/runpy.py:193: UserWarning: [W008] Evaluating Token.similarity based on empty vectors.
  "__main__", mod_spec)
/usr/lib/python3.7/runpy.py:193: UserWarning: [W008] Evaluating Token.similarity based on empty vectors.
  "__main__", mod_spec)
/usr/lib/python3.7/runpy.py:193: UserWarning: [W008] Evaluating Token.similarity based on empty vectors.
  "__main__", mod_spec)
/usr/lib/python3.7/runpy.py:193: UserWarning: [W008] Evaluating Token.similarity based on empty vectors.
  "__main__", mod_spec)
/usr/lib/python3.7/runpy.py:193: UserWarning: [W008] Evaluating Token.similarity based on empty vectors.
  "__main__", mod_spec)

       mresi       has         a       cat  Out of Vocabulary
mresi    1.0  0.000000  0.000000  0.000000                1.0
has      0.0  1.000000  0.527749  0.253574                0.0
a        0.0  0.527749  1.000000  0.304866                0.0
cat      0.0  0.253574  0.304866  1.000000                0.0

In [98]:
from scipy import spatial
cos_sim = lambda vec1, vec2: 1 - spatial.distance.cosine(vec1, vec2)

In [99]:
king = nlp.vocab['king'].vector
man = nlp.vocab['man'].vector
woman = nlp.vocab['woman'].vector

In [100]:
new_vec = king - man + woman

In [106]:
computed_sim = []
for word in nlp.vocab:
  if word.has_vector & word.is_lower & word.is_alpha:
    sim = cos_sim(new_vec, word.vector)
    computed_sim.append((word.text, sim))

In [107]:
computed_sim = sorted(computed_sim, key=lambda x: -x[1])

In [110]:
computed_sim[:20]

[('king', 0.8024259805679321),
 ('queen', 0.7880843877792358),
 ('prince', 0.6401076912879944),
 ('kings', 0.6208544373512268),
 ('princess', 0.6125636100769043),
 ('royal', 0.5800970792770386),
 ('throne', 0.5787012577056885),
 ('queens', 0.5743793845176697),
 ('monarch', 0.563362181186676),
 ('kingdom', 0.5520980954170227),
 ('empress', 0.528952956199646),
 ('lady', 0.5254388451576233),
 ('woman', 0.5150813460350037),
 ('princes', 0.5051530599594116),
 ('mother', 0.497583270072937),
 ('duke', 0.4868083894252777),
 ('emperor', 0.47984421253204346),
 ('reign', 0.47829094529151917),
 ('goddess', 0.4750741422176361),
 ('lord', 0.47107836604118347)]

In [115]:
def words_semantic_finder(word1, word2, word3):
  word1 = nlp.vocab[word1].vector
  word2 = nlp.vocab[word2].vector
  word3 = nlp.vocab[word3].vector
  new_vec = word1 - word2 + word3
  computed_sim = []
  for word in nlp.vocab:
    if word.has_vector & word.is_lower & word.is_alpha:
      sim = cos_sim(new_vec, word.vector)
      computed_sim.append((word.text, sim))
  computed_sim = sorted(computed_sim, key=lambda x: -x[1])
  return computed_sim

In [116]:
words_semantic_finder('king', 'boy', 'girl')[:20]

[('king', 0.8568281531333923),
 ('queen', 0.7856624722480774),
 ('kings', 0.6898518800735474),
 ('prince', 0.6412386298179626),
 ('kingdom', 0.6164750456809998),
 ('princess', 0.6089317798614502),
 ('throne', 0.596087634563446),
 ('royal', 0.5812860727310181),
 ('queens', 0.569563627243042),
 ('lord', 0.5553606152534485),
 ('princes', 0.5458647012710571),
 ('monarch', 0.5391060709953308),
 ('reign', 0.5153759121894836),
 ('lady', 0.5148307681083679),
 ('empress', 0.5122785568237305),
 ('duke', 0.5011358857154846),
 ('goddess', 0.4867176413536072),
 ('lords', 0.48484835028648376),
 ('emperor', 0.4745334982872009),
 ('knight', 0.4688780605792999)]

In [117]:
words_semantic_finder('lion', 'cat', 'wolf')[:20]

[('wolf', 0.756814181804657),
 ('lion', 0.7427126169204712),
 ('wolves', 0.6611201763153076),
 ('lions', 0.602623462677002),
 ('grizzly', 0.5764345526695251),
 ('panther', 0.5451298356056213),
 ('bison', 0.5295594334602356),
 ('caribou', 0.5287589430809021),
 ('eagle', 0.5241438150405884),
 ('jackal', 0.522642970085144),
 ('moose', 0.5224730372428894),
 ('lioness', 0.5200225114822388),
 ('tiger', 0.519088864326477),
 ('bear', 0.5143458843231201),
 ('wolfs', 0.514160692691803),
 ('antelope', 0.5052971243858337),
 ('elk', 0.5040181875228882),
 ('bears', 0.5002385377883911),
 ('buffalo', 0.4995751976966858),
 ('hyena', 0.49791601300239563)]

In [118]:
words_semantic_finder('whale', 'shark', 'horse')[:20]

[('horse', 0.823971688747406),
 ('horses', 0.7489991188049316),
 ('pony', 0.5968052744865417),
 ('riding', 0.5651798248291016),
 ('horseback', 0.5622166991233826),
 ('equine', 0.5608040690422058),
 ('stallion', 0.5574216246604919),
 ('donkey', 0.5497463941574097),
 ('cow', 0.5484589338302612),
 ('ponies', 0.5426840782165527),
 ('cattle', 0.5332987308502197),
 ('stables', 0.5270552635192871),
 ('sheep', 0.5153661966323853),
 ('camel', 0.5143934488296509),
 ('thoroughbred', 0.5129441618919373),
 ('herd', 0.5127334594726562),
 ('equestrian', 0.5054941773414612),
 ('mule', 0.4975702166557312),
 ('foal', 0.4958617091178894),
 ('rides', 0.4918358623981476)]

In [119]:
words_semantic_finder('car', 'driver', 'horse')[:20]

[('horse', 0.7095716595649719),
 ('horses', 0.6396541595458984),
 ('pony', 0.5714321136474609),
 ('car', 0.5330120325088501),
 ('dog', 0.5203853249549866),
 ('cars', 0.4889605939388275),
 ('barn', 0.4851994216442108),
 ('ponies', 0.47962620854377747),
 ('riding', 0.4754590392112732),
 ('pet', 0.4669674038887024),
 ('dogs', 0.4663594663143158),
 ('equine', 0.4583134055137634),
 ('wagon', 0.4537166953086853),
 ('cow', 0.4486503601074219),
 ('sale', 0.44611844420433044),
 ('stallion', 0.44571322202682495),
 ('equestrian', 0.44530200958251953),
 ('stables', 0.44267934560775757),
 ('puppy', 0.4357976019382477),
 ('sheep', 0.42969900369644165)]

#####VADER
######Valence Aware Dictionary for Sentiment Reasoning
######it is a model that used for sentiment analysis that is sensitive to both polarity and intensity

In [120]:
import nltk

In [121]:
nltk.download('vader_lexicon')

[nltk_data] Downloading package vader_lexicon to /root/nltk_data...

True

In [127]:
from nltk.sentiment.vader import SentimentIntensityAnalyzer

In [128]:
sid = SentimentIntensityAnalyzer()

In [131]:
text = 'I liked this movie'

In [133]:
#Has 4 categories:   Neg, Pos, Neu, Compund

sid.polarity_scores(text)

{'compound': -0.1531, 'neg': 0.415, 'neu': 0.244, 'pos': 0.341}

In [134]:
text = 'I liked this disgusting movie'

In [135]:
sid.polarity_scores(text)

{'compound': -0.1531, 'neg': 0.415, 'neu': 0.244, 'pos': 0.341}